@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body{
    font-family: "Roboto",sans-serif;
}
:root{
    --active-color:#ffee93;
    --link-text-color:#f1faee;
    --menu-background-color:#1d3557;
    --active-background-color:#132238;

}

 .menu-container{
    /* background-color: var(--menu-background-color); */
    display: flex;
    justify-content: center;
    margin-top: .03rem;
    top: 0;
}
/*
.menu.right-side:hover{
    color: var(--active-color);
    cursor: pointer;
    background-color: var(--active-background-color);
}
.menu.right-side{
    display: flex;

    margin-right: .3rem;
    padding: .2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.menu.right-side .profile{
color: white;
display: flex;
justify-content: center;
align-items: center;
} */

.menu{
    padding: 0;
    margin-left: 1rem;
    position: relative;
    background-color: var(--menu-background-color);
    display: inline-flex;
    border-radius: 4px;
    list-style-type: none;
    justify-content: end;

}
/* li */
.menu-item{
    display: inline-flex;
}
/* a */
.menu-link{
    padding: 0.75rem 1rem;
    display:  inline-flex;
    color: var(--link-text-color);
    text-decoration: none;
}
.menu-link:hover,.menu-link.active{
    color: var(--active-color);
    background-color: var(--active-background-color);
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid;
    align-items: center;
    display: inline-flex;
    margin-right: 0.2rem;

}
/* slider */
.menu-indicator{
    position: absolute;
    height: 0.25rem;
    background-color: var(--active-color);
    bottom: 0;
    left: 0;
    margin: auto;
    width: 3rem;
    transition: all ease .5s;
}



