.home-container{
    display: flex;
    justify-content: center;
}
.sidebar-compo{

}

.home-compo,
.createclass-compo,
.createSubj-compo,
.createPost-compo,
.userList,
.add-doc-compo,
.portfolio-compo{
    width: 70vw;
}



